* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  background: black;
  background-size: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-x: hidden;
  min-width: 10vw;
}

.nav-container nav {
  -webkit-transform-origin: left;
          transform-origin: left;
  min-width: 100vw;
  height: 7vh;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(49, 49, 49, 0.726);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border-bottom: 1px solid lime;
  z-index: 1000;
}

.nav-container .title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 2rem;
  font-size: 1rem;
  color: white;
  font-family: monospace;
}

.nav-container .navOptions {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.nav-container #list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-right: 3rem;
}

.nav-container .option {
  text-decoration: none;
  font-size: 0.7rem;
  letter-spacing: 2px;
  font-weight: bold;
  color: #1ba500;
  padding: 5px 0.5rem;
  font-family: 'Noto Sans Mono', monospace;
  font-family: 'Noto Sans', sans-serif;
}

.nav-container .option:hover {
  color: #45ff20;
}

.first-container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: url(/pexels-francesco-ungaro-998641.jpg);
  background-size: cover;
}

.first-container .title-template {
  color: white;
  z-index: 10;
  padding-left: 6%;
  width: 50vw;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.first-container .title-template h2 {
  font-size: 3rem;
  padding-bottom: 1.5rem;
  font-family: monospace;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  opacity: 1;
  cursor: default;
  z-index: 10;
}

.first-container .title-template p {
  color: rgba(248, 170, 255, 0.733);
  font-family: 'Noto Sans Mono', monospace;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  cursor: default;
  opacity: 1;
  line-height: 150%;
}

.first-container .title-template p:hover {
  color: #f3bcf8;
}

.first-container .title-template p button {
  background-color: rebeccapurple;
}

.first-container .title-template .link-icons {
  margin-top: 3rem;
  width: 300px;
}

.first-container .title-template .link-icons a {
  margin-right: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.first-container .title-template .link-icons .fab {
  color: #009e15;
  font-size: 1.2rem;
}

.first-container .title-template .link-icons .fab:hover {
  font-weight: bold;
  color: #00d80b;
  -webkit-transform: scale(150%);
          transform: scale(150%);
}

.first-container #lot {
  width: 50vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.first-container #lot:hover {
  -webkit-transform: scale(102%);
          transform: scale(102%);
}

.second-container {
  scroll-snap-align: start;
  width: 100vw;
  min-height: 100vh;
  background-color: #63021f;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-container #secondLottie {
  width: 30vw;
  z-index: 2000;
}

.second-container .description {
  margin-right: 5rem;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

.second-container .description h2 {
  font-family: monospace;
  font-size: 3rem;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  cursor: default;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: color 0.1s;
}

.second-container .description h2:hover {
  color: #faf8f8;
  -webkit-text-stroke: 2px black;
}

.second-container .description p {
  font-family: 'Noto Sans Mono', monospace;
  font-family: 'Noto Sans', sans-serif;
  margin-top: 1rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  color: #e7e7e7;
  font-weight: 500;
}

.second-container .description h3 {
  background-color: antiquewhite;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.3rem;
  margin-top: 3rem;
  text-transform: uppercase;
  font-family: 'Noto Sans';
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  height: 2.2rem;
}

.second-container .description .grid-container {
  min-height: 50vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 0.8rem;
  grid-row-gap: 1rem;
  margin: 2rem 0rem;
}

.second-container .description .grid-container h4 {
  font-family: monospace;
  font-size: 1rem;
  color: white;
  font-weight: 200;
}

.second-container .description .grid-container .nested-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(41, 19, 19, 0.274);
  margin-top: 10px;
  grid-row-gap: 1rem;
  grid-column-gap: 5px;
  justify-items: center;
  padding: 1rem 1rem;
  padding-top: 1.4rem;
  border-radius: 10px;
  overflow: visible;
  grid-auto-rows: minmax(4rem, auto);
}

.second-container .description .grid-container .nested-grid div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.second-container .description .grid-container .nested-grid div:hover {
  -webkit-transform: scale(130%);
          transform: scale(130%);
}

.second-container .description .grid-container .nested-grid div img {
  height: 30px;
}

.second-container .description .grid-container .nested-grid div h5 {
  color: wheat;
  font-family: 'Noto Sans';
  font-size: 0.6rem;
  margin-top: 5px;
  text-align: center;
}

.third-container {
  height: 100vh;
  background-color: #1d7efd;
}
/*# sourceMappingURL=style.css.map */